#sf3z63bf1d4c835c590de9462a8476b0483d2cfc667188102c167a418ff68cd4521a
  #customForm
  *:not(.dateClass) {
  -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  box-sizing: border-box !important;
  word-break: break-word;
  overflow-wrap: break-word;
}
#sf3z63bf1d4c835c590de9462a8476b0483d2cfc667188102c167a418ff68cd4521a
  .dateClass {
  -webkit-box-sizing: unset !important;
  -moz-box-sizing: unset !important;
  box-sizing: unset !important;
  word-break: break-word;
  overflow-wrap: break-word;
}
/*** RESPONSIVE START */
@media only screen and (max-width: 200px) {
  #sf3z63bf1d4c835c590de9462a8476b0483d2cfc667188102c167a418ff68cd4521a
    #signupMainDiv {
    width: 220px !important;
    min-width: 220px !important;
    margin: 0px auto !important;
  }
  #sf3z63bf1d4c835c590de9462a8476b0483d2cfc667188102c167a418ff68cd4521a
    #SIGNUP_PAGE {
    padding: 0px !important;
  }
  #sf3z63bf1d4c835c590de9462a8476b0483d2cfc667188102c167a418ff68cd4521a
    .recaptcha {
    transform: scale(0.55);
    -webkit-transform: scale(0.45);
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
  }
}
@media only screen and (min-width: 440px) and (max-width: 600px) {
  #sf3z63bf1d4c835c590de9462a8476b0483d2cfc667188102c167a418ff68cd4521a
    #signupMainDiv {
    width: 440px !important;
    min-width: 440px !important;
    margin: 0px auto !important;
  }
  #sf3z63bf1d4c835c590de9462a8476b0483d2cfc667188102c167a418ff68cd4521a
    .recaptcha {
    transform: scale(0.72);
    -webkit-transform: scale(0.55);
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
  }
}
@media only screen and (min-width: 320px) and (max-width: 440px) {
  #sf3z63bf1d4c835c590de9462a8476b0483d2cfc667188102c167a418ff68cd4521a
    #signupMainDiv {
    width: 320px !important;
    min-width: 320px !important;
    margin: 0px auto !important;
  }
  #sf3z63bf1d4c835c590de9462a8476b0483d2cfc667188102c167a418ff68cd4521a
    .recaptcha {
    transform: scale(0.72);
    -webkit-transform: scale(0.55);
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
  }
}
/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  #sf3z63bf1d4c835c590de9462a8476b0483d2cfc667188102c167a418ff68cd4521a
    #signupMainDiv {
    width: 600px !important;
    min-width: 600px !important;
    margin: 0px auto !important;
  }
  #sf3z63bf1d4c835c590de9462a8476b0483d2cfc667188102c167a418ff68cd4521a
    .recaptcha {
    transform: scale(1.03);
    -webkit-transform: scale(1.08);
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
  }
}
/* Large Screens */
@media only screen and (min-width: 1824px) {
  #sf3z63bf1d4c835c590de9462a8476b0483d2cfc667188102c167a418ff68cd4521a
    #signupMainDiv {
    width: 600px !important;
    min-width: 600px !important;
    margin: 0px auto !important;
  }
  #sf3z63bf1d4c835c590de9462a8476b0483d2cfc667188102c167a418ff68cd4521a
    .recaptcha {
    transform: scale(1.03);
    -webkit-transform: scale(1.08);
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
  }
}
/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 601px) and (max-device-width: 1024px) {
  #sf3z63bf1d4c835c590de9462a8476b0483d2cfc667188102c167a418ff68cd4521a
    #signupMainDiv {
    width: 600px !important;
    min-width: 600px !important;
    margin: 0px auto !important;
  }
  #sf3z63bf1d4c835c590de9462a8476b0483d2cfc667188102c167a418ff68cd4521a
    .recaptcha {
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
  }
}
/*** RESPONSIVE END */
#sf3z63bf1d4c835c590de9462a8476b0483d2cfc667188102c167a418ff68cd4521a
  .bdr_btm_hover {
  background-color: #f9f9f9;
  padding: 10px;
}
#sf3z63bf1d4c835c590de9462a8476b0483d2cfc667188102c167a418ff68cd4521a .bdr_btm {
  padding: 10px;
}
#sf3z63bf1d4c835c590de9462a8476b0483d2cfc667188102c167a418ff68cd4521a .f14 {
  font-size: 14px;
}
