.men {
  position: relative;
  margin: 5rem;
  border-radius: 16px;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  /* background-image: url("./assets/men.png"); */
  /* opacity: 0.5; */
  background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 1),
      rgba(0, 0, 0, 0)
    ),
    url("./assets/men.png");
  background-size: cover;
}

.content {
  position: relative;
  z-index: 4;
}

.active {
  color: #646464;
}

.active-nav {
  color: #db251a;
}

/* YourCarouselStyles.css */
.carousel-container {
  display: flex;
  overflow: hidden;
  width: 100%;
}

.carousel {
  display: flex;
  animation: scrollRight 20s linear infinite;
}

.carousel-left {
  animation: scrollLeft 20s linear infinite;
}

@keyframes scrollRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes scrollLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

/* Navbar.css */

.mobile-nav {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  display: flex;
  transition: max-height 1s ease, opacity 1s ease;
}

.slide-in {
  max-height: 100vh;
  opacity: 1;
}

.slide-out {
  max-height: 0;
  opacity: 0;
}


@media screen and (max-width: 870px) {
  .men {
    margin: 2rem;
  }
}
