.men {
  position: relative;
  margin: 5rem;
  border-radius: 16px;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  /* background-image: url("./assets/men.png"); */
  /* opacity: 0.5; */
  background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 1),
      rgba(0, 0, 0, 0)
    ),
    url("./assets/men.png");
  background-size: cover;
}

.background-image1 {
  background-image: url("./assets/Capa-1.png");
  position: absolute;
  top: 100px;
  left: -100px;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
}

.background-image2 {
  background-image: url("./assets/Capa 12.png");
  position: absolute;
  top: 0;
  right: -350px;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
}

.content {
  position: relative;
  z-index: 4;
}

.active {
  color: black;
}

.active-nav {
  color: #db251a;
}

/* YourCarouselStyles.css */
.carousel-container {
  display: flex;
  overflow: hidden;
  width: 100%;
}

.carousel {
  display: flex;
  animation: scrollRight 20s linear infinite;
}

.carousel-left {
  animation: scrollLeft 20s linear infinite;
}

@keyframes scrollRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes scrollLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

/* Navbar.css */

.mobile-nav {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  display: flex;
  transition: max-height 1s ease, opacity 1s ease;
}

.slide-in {
  -webkit-animation: slide-in 0.5s ease-in-out;
  animation: slide-in 0.5s ease-in-out;
  max-height: 100vh;
  opacity: 1;
}

@-webkit-keyframes slide-in {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes slide-in {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.slide-out {
  -webkit-animation: slide-out 0.5s ease-in-out;
  animation: slide-out 0.5s ease-in-out;
  max-height: 100vh;
  opacity: 1;
}

@-webkit-keyframes slide-out {
  0% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

@keyframes slide-out {
  0% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

@keyframes rotateLeftRight {
  0%,
  100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-15deg);
  }
  50%,
  75% {
    transform: rotate(15deg);
  }
}

.rotating-laptop {
  animation: rotateLeftRight 6s linear infinite;
  animation-delay: 3s; /* Delay after every full cycle */
}

.compute {
  margin: 1rem 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.compute button {
  padding: 20.544px 45.653px;
  border-radius: 13.696px;
  background: #db251a;
  color: white;
  border: none;
}

.calculator_div div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.calculator_div div input {
  border-radius: 12px;
  border: 1px solid rgba(102, 102, 102, 0.35);
  height: 56px;
}


@media screen and (max-width: 870px) {
  .men {
    margin: 2rem;
  }

  .background-image2 {
    right: 0;
  }
}
